body 
{
    height:100%;   
    margin:0;
    padding:0;
    border:0;
    font-family: 'LocalOswald', sans-serif;
    color: #112;

}
input
{
	font-family: 'LocalOswald', sans-serif;
	cursor: pointer;

}

textarea 
{ 
	border: none; 
	background-color: #D3D3D3;
	
}

@font-face
{
    font-family: LocalOswald;
    src: url('Oswald-Regular.ttf');
        
}


a 
{
	text-decoration: none;
	color: white;
}



 /* wygląd głównego elementu - ol */
      ol {
        list-style-type:none;
        padding:0;
        display: block;
 		margin: 0 auto;
        background-color:white;
        color: black;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
        min-width: 1060px;
        max-width: 3000px;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      ol a {
        display:block;
        text-decoration:none;
        color: #000;
        padding:0 5px;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      ol > li {
        float:left;
        width:20%;

        background-color:#BBEEEE;
        height:2em;
      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      ol > li:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover {
        background-color:#CCFFFF;
        
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover > a {
        color:#334499;
        border-bottom: solid 3px #c0392b;

      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover > ul {
        display:block;
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

      /* wygląd głównych rozwijanych elementów - ul */
      ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }

      /* wygląd elementu - li - w części rozwijanej */
      ol > li > ul > li {
        position:relative;
        background-color:#BBEEEE;
      }

      /* wygląd elementu - a - w części rozwijanej */
      ol > li > ul > li > a {
        border-top:1px solid #FFF;
      }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
      ol > li > ul > li:hover {
        background-color:#AADDDD;

      }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
      ol > li > ul > li:hover > a {
        color:#334499;

      }
  

#full
{
	background-color: #336699;
	height: 90px;
	max-height: 90px;
	margin-left: auto;
	margin-right: auto;
}



header
{
	width: auto;
	font-size: 58px;
	background-color: #336699;
	color: white;
	font-weight: bold;
	text-align: center;

	padding: 0px;
	min-width: 980px;
	
	display: block;
 	margin: 0 auto;



    border:0;
    height: 90px;
    padding-left: 80px;
    max-width: 2920px;
}

#login
{
	font-size: 14px;
	color: white;
	font-weight: normal;
	text-align: right;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 20px;
	float: right;
}
#plog
{
	font-size: 14px;
	color: white;
	font-family: 'Oswald', sans-serif;
	background-color: #336699;
	cursor: pointer;
}




#content
{
	width: auto;
	text-align: justify;
	padding: 0px;
	min-width: 980px;
	
	display: block;
  	margin: 0 auto;

    border:0;
    padding-left: 80px;
    max-width: 2920px;
    padding-top: 70px;
    background-color: #F0F8FF;
    padding-bottom: 30px;
}


#tytu
{
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	width: 270px;
	max-width: 2000px;
	padding-right: 15%;
	padding-left: 15%;
}

#ttlo
{
	background-color: #BBEEEE;
	padding-left: 0;
	min-width: 320px;
}
.comhead
{
	background-color: #BBEEEE;
	width: 300px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	margin-left: -120px;
	position: absolute;
	left: 50%;
}


#zawa
{
	
	padding-top: 20px;
	padding-right: 15%;
	padding-left: 15%;

}
.zawa
{
	padding-top: 20px;
	padding-right: 15%;
	padding-left: 15%;

}
#menu
{
	text-align: center;
	

}
#floatbar
{
	background:#C0C0C0;
	 width:170px;
	   height:40px;
	  position:absolute;
	  right:10px;top:150px;
	  opacity: 97%;
	  line-height: 40px;
	  text-align: center;
	  cursor: pointer;

}
#panellog
{
	background:#336699;
	 width:170px;
	 height:auto;
	 position:absolute;
	 right:0px;top:90px;
	 line-height: 40px;
	 text-align: center;
	 font-size: 12px;
	 color: black;
	 display: none;
	 z-index: 8 !important;

}
#wingl
{
 	position:absolute;
	 left:300px;top:0px;
	 display: none;
	 z-index: 8 !important;
}
#wingr
{
 	 position:absolute;
	 right:300px;top:0px;
	 display: none;
	 z-index: 8 !important;
}

.buttons
{
	width: auto;
	text-align: justify;
	padding: 0px;
	min-width: 980px;
	
	display: block;
  	margin: 0 auto;

    border:0;
    padding-left: 80px;
    max-width: 2920px;
    padding-top: 0px;
    background-color: #F0F8FF;
    padding-bottom: 100px;
}
#komentos
{
	display: none;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#komentujesz
{
	float: left;
	margin-left: 30%;
}

#skomentuj
{
	float: left;
	margin-left: 30%;
}



#toggll
{
	float: right;
	margin-right: 30%;
	
}
#togglldw
{
	float: right;
	margin-right: 30%;
	display: none;
}

#walcz
{
	float: center;
	color: white;
	width: auto;
	min-width: 1060px;
	max-width: 3000px;


     background-color: #F0F8FF;
     padding-bottom: 30px;
}

#trescwiadomosci
{
	float: left;
	width: 2000px;
}

/*#pozwal
{

<div id="srodek"><br></div>

margin: 0 auto;
display: block;
max-width: 150px;

}
#odpusc
{
	float: center;
	color: white;
}
*/
.btn_red
{
	background-color: #e74c3c;
	width: 150px;
	color: white;
	height: 36px;
	border-bottom: solid 5px #c0392b;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	font-size: 17px;
	font-style: bold;
	border-radius: 5px;
}
.btn_red:hover
{
	background-color: #e22c3c;
	width: 150px;
	color: white;
	height: 36px;
	border-bottom: solid 5px #c0392b;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	font-size: 17px;
	font-style: bold;
	cursor: pointer;
	border-radius: 1px;
}
.btn_green
{
	background-color: #3CB371;
	width: 300px;
	color: white;
	min-height: 36px;
	border-bottom: solid 5px #2E8B57;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	font-size: 17px;
	font-style: bold;
	border-radius: 5px;
	margin-left: -120px;
	position: absolute;
	left: 50%;
}
.btn_green:hover
{
	background-color: #008000;
	width: 300px;
	color: white;
	min-height: 35px;
	border-bottom: solid 5px #006400;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	font-size: 17px;
	font-style: bold;
	border-radius: 1px;
}
.btn_blue
{
	background-color: #3498db;
	width: 150px;
	color: white;
	height: 36px;
	border-bottom: solid 5px #2980b9;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	font-size: 17px;
	font-style: bold;
	border-radius: 5px;
}
.btn_blue:hover
{
	background-color: #2388db;
	width: 150px;
	color: white;
	height: 36px;
	border-bottom: solid 5px #2980b9;
	display: inline-block;
	text-align: center;
	line-height: 36px;
	font-size: 17px;
	font-style: bold;
	cursor: pointer;
	border-radius: 1px;
}
.btn_green2
{
	background-color: #666;
	width: 150px;
	color: white;
	min-height: 24px;
	border:none;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	font-size: 15px;
	font-style: bold;
	padding-bottom: 3px;
	padding-top: 3px;
	
	
}
.btn_green2:hover
{
	background-color: #008000;
	width: 150px;
	color: white;
	min-height: 20px;
	border-bottom: solid 5px #006400;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	font-style: bold;
	border-radius: 1px;
	padding-bottom: 3px;
	padding-top: 3px;
}



.footerelements
{
	color: white;
	width: 20%;
	float: left;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: Arial;
}

.error
{
	color:red;

	margin-bottom: 20px;
	font-size: 13px;
}

#formul{

	
	
	min-width: 980px;
	
	display: block;
  	margin: 0 auto;

    
    padding-left: 80px;
    max-width: 2920px;
    padding-top: 70px;
    background-color: #F0F8FF;
    padding-bottom: 30px;
    float: center;

}

#footer
{
	width: auto;
	font-size: 10px;
	background-color: #336699;
	color: white;
	text-align: center;
	padding: 0px;
	min-width: 1060px;
    border:0;
    height: 30px;


}

#pozfoot
{
	min-width: 1060px;
	max-width: 3000px;
	display: block;
  margin: 0 auto;
  max-height: 30px;

}

